<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteRule ^directory/ - [L,R=404]

RewriteRule ^login$ index.php

RewriteRule ^home$ media.php?module=home [QSA,L]
RewriteRule ^cek-login$ cek_login.php
RewriteRule ^keluar$ logout.php

## Menu Perusahaan 
RewriteRule ^perusahaan$ media.php?module=perusahaan [QSA,L]
RewriteRule ^tambah-perusahaan$ content/perusahaan/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-perusahaan$ content/perusahaan/aksi.php?act=input [QSA,L]
RewriteRule ^edit-perusahaan$ content/perusahaan/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-perusahaan$ content/perusahaan/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-perusahaan-([0-9a-zA-Z-]+)$ content/perusahaan/aksi.php?act=delete&id=$1 [QSA,L]

## Menu jabatan 
RewriteRule ^jabatan$ media.php?module=jabatan [QSA,L]
RewriteRule ^tambah-jabatan$ content/jabatan/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-jabatan$ content/jabatan/aksi.php?act=input [QSA,L]
RewriteRule ^edit-jabatan$ content/jabatan/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-jabatan$ content/jabatan/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-jabatan-([0-9a-zA-Z-]+)$ content/jabatan/aksi.php?act=delete&id=$1 [QSA,L]

## Menu kategori-personil 
RewriteRule ^kategori-personil$ media.php?module=kategori-personil [QSA,L]
RewriteRule ^tambah-kategori-personil$ content/kategori-personil/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-kategori-personil$ content/kategori-personil/aksi.php?act=input [QSA,L]
RewriteRule ^edit-kategori-personil$ content/kategori-personil/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-kategori-personil$ content/kategori-personil/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-kategori-personil-([0-9a-zA-Z-]+)$ content/kategori-personil/aksi.php?act=delete&id=$1 [QSA,L]

## Menu bidang 
RewriteRule ^bidang$ media.php?module=bidang [QSA,L]
RewriteRule ^tambah-bidang$ content/bidang/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-bidang$ content/bidang/aksi.php?act=input [QSA,L]
RewriteRule ^edit-bidang$ content/bidang/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-bidang$ content/bidang/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-bidang-([0-9a-zA-Z-]+)$ content/bidang/aksi.php?act=delete&id=$1 [QSA,L]

## Menu unit 
RewriteRule ^unit$ media.php?module=unit [QSA,L]
RewriteRule ^tambah-unit$ content/unit/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-unit$ content/unit/aksi.php?act=input [QSA,L]
RewriteRule ^edit-unit$ content/unit/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-unit$ content/unit/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-unit-([0-9a-zA-Z-]+)$ content/unit/aksi.php?act=delete&id=$1 [QSA,L]

## Menu master-pegawai 
RewriteRule ^master-pegawai$ media.php?module=master-pegawai [QSA,L]
RewriteRule ^tambah-master-pegawai$ content/master-pegawai/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-master-pegawai$ content/master-pegawai/aksi.php?act=input [QSA,L]
RewriteRule ^edit-master-pegawai$ content/master-pegawai/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-master-pegawai$ content/master-pegawai/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-master-pegawai-([0-9a-zA-Z-]+)$ content/master-pegawai/aksi.php?act=delete&id=$1 [QSA,L]

## Menu klasifikasi 
RewriteRule ^klasifikasi$ media.php?module=klasifikasi [QSA,L]
RewriteRule ^tambah-klasifikasi$ content/klasifikasi/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-klasifikasi$ content/klasifikasi/aksi.php?act=input [QSA,L]
RewriteRule ^edit-klasifikasi$ content/klasifikasi/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-klasifikasi$ content/klasifikasi/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-klasifikasi-([0-9a-zA-Z-]+)$ content/klasifikasi/aksi.php?act=delete&id=$1 [QSA,L]

## Menu item-kategori 
RewriteRule ^item-kategori$ media.php?module=item-kategori [QSA,L]
RewriteRule ^tambah-item-kategori$ content/item-kategori/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-item-kategori$ content/item-kategori/aksi.php?act=input [QSA,L]
RewriteRule ^edit-item-kategori$ content/item-kategori/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-item-kategori$ content/item-kategori/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-item-kategori-([0-9a-zA-Z-]+)$ content/item-kategori/aksi.php?act=delete&id=$1 [QSA,L]


## Menu item 
RewriteRule ^item$ media.php?module=item [QSA,L]
RewriteRule ^tambah-item$ content/item/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-item$ content/item/aksi.php?act=input [QSA,L]
RewriteRule ^edit-item$ content/item/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-item$ content/item/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-item-([0-9a-zA-Z-]+)$ content/item/aksi.php?act=delete&id=$1 [QSA,L]

## Menu master-aset 
RewriteRule ^master-aset$ media.php?module=master-aset [QSA,L]
RewriteRule ^tambah-master-aset$ content/master-aset/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-master-aset$ content/master-aset/aksi.php?act=input [QSA,L]
RewriteRule ^edit-master-aset$ content/master-aset/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-master-aset$ content/master-aset/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-master-aset-([0-9a-zA-Z-]+)$ content/master-aset/aksi.php?act=delete&id=$1 [QSA,L]

## Menu lokasi-penempatan 
RewriteRule ^lokasi-penempatan$ media.php?module=lokasi-penempatan [QSA,L]
RewriteRule ^tambah-lokasi-penempatan$ content/lokasi-penempatan/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-lokasi-penempatan$ content/lokasi-penempatan/aksi.php?act=input [QSA,L]
RewriteRule ^edit-lokasi-penempatan$ content/lokasi-penempatan/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-lokasi-penempatan$ content/lokasi-penempatan/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-lokasi-penempatan-([0-9a-zA-Z-]+)$ content/lokasi-penempatan/aksi.php?act=delete&id=$1 [QSA,L]

## Menu master-inspeksi-peralatan 
RewriteRule ^master-inspeksi-peralatan$ media.php?module=master-inspeksi-peralatan [QSA,L]
RewriteRule ^tambah-master-inspeksi-peralatan$ content/master-inspeksi-peralatan/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-master-inspeksi-peralatan$ content/master-inspeksi-peralatan/aksi.php?act=input [QSA,L]
RewriteRule ^edit-master-inspeksi-peralatan$ content/master-inspeksi-peralatan/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-master-inspeksi-peralatan$ content/master-inspeksi-peralatan/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-master-inspeksi-peralatan-([0-9a-zA-Z-]+)$ content/master-inspeksi-peralatan/aksi.php?act=delete&id=$1 [QSA,L]


## Detail Inspeksi
RewriteRule ^detail-inspeksi-([0-9a-zA-Z-]+)$ media.php?module=detail-inspeksi&id=$1 [QSA,L]
RewriteRule ^tambah-detail-inspeksi-([0-9a-zA-Z-]+)$ content/detail-inspeksi/aksi.php?act=tambah&id_kategori=$1 [QSA,L]
RewriteRule ^aksi-tambah-detail-inspeksi$ content/detail-inspeksi/aksi.php?act=input [QSA,L]
RewriteRule ^edit-detail-inspeksi$ content/detail-inspeksi/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-detail-inspeksi$ content/detail-inspeksi/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-detail-inspeksi-([0-9a-zA-Z-]+)-([0-9a-zA-Z-]+)$ content/detail-inspeksi/aksi.php?act=delete&id_kategori=$1&id=$2 [QSA,L]

## Identitas aset
RewriteRule ^identitas-([0-9a-zA-Z-]+)$ media.php?module=identitas&id=$1 [QSA,L]
RewriteRule ^tambah-identitas-([0-9a-zA-Z-]+)$ content/identitasparam/aksi.php?act=tambahidentitas&id=$1 [QSA,L]
RewriteRule ^aksi-tambah-identitas$ content/identitasparam/aksi.php?act=inputidentitas [QSA,L]
RewriteRule ^edit-identitas-([0-9a-zA-Z-]+)$ content/identitasparam/aksi.php?act=editidentitas&id_sub=$1 [QSA,L]
RewriteRule ^aksi-edit-identitas$ content/identitasparam/aksi.php?act=updateidentitas [QSA,L]
RewriteRule ^aksi-hapus-identitas-([0-9a-zA-Z-]+)$ content/identitasparam/aksi.php?act=deleteidentitas&id=$1& [QSA,L]

## Parameter aset
RewriteRule ^tambah-parameter-([0-9a-zA-Z-]+)$ content/identitasparam/aksi.php?act=tambahparameter&id=$1 [QSA,L]
RewriteRule ^aksi-tambah-parameter$ content/identitasparam/aksi.php?act=inputparameter [QSA,L]
RewriteRule ^edit-parameter-([0-9a-zA-Z-]+)$ content/identitasparam/aksi.php?act=editparameter&idsub=$1 [QSA,L]
RewriteRule ^aksi-edit-parameter$ content/identitasparam/aksi.php?act=updateparameter [QSA,L]
RewriteRule ^aksi-hapus-parameter-([0-9a-zA-Z-]+)$ content/identitasparam/aksi.php?act=deleteparameter&id=$1& [QSA,L]

## varian aset
RewriteRule ^tambah-varian-([0-9a-zA-Z-]+)$ content/identitasparam/aksi.php?act=tambahvarian&id=$1 [QSA,L]
RewriteRule ^aksi-tambah-varian$ content/identitasparam/aksi.php?act=inputvarian [QSA,L]
RewriteRule ^edit-varian-([0-9a-zA-Z-]+)$ content/identitasparam/aksi.php?act=editvarian&idsub=$1 [QSA,L]
RewriteRule ^aksi-edit-varian$ content/identitasparam/aksi.php?act=updatevarian [QSA,L]
RewriteRule ^aksi-hapus-varian-([0-9a-zA-Z-]+)$ content/identitasparam/aksi.php?act=deletevarian&id=$1& [QSA,L]

## kapasitas aset
RewriteRule ^tambah-kapasitas-([0-9a-zA-Z-]+)$ content/identitasparam/aksi.php?act=tambahkapasitas&id=$1 [QSA,L]
RewriteRule ^aksi-tambah-kapasitas$ content/identitasparam/aksi.php?act=inputkapasitas [QSA,L]
RewriteRule ^edit-kapasitas-([0-9a-zA-Z-]+)$ content/identitasparam/aksi.php?act=editkapasitas&idsub=$1 [QSA,L]
RewriteRule ^aksi-edit-kapasitas$ content/identitasparam/aksi.php?act=updatekapasitas [QSA,L]
RewriteRule ^aksi-hapus-kapasitas-([0-9a-zA-Z-]+)$ content/identitasparam/aksi.php?act=deletekapasitas&id=$1& [QSA,L]

## View identitas param
RewriteRule ^view-identitasparam-([0-9a-zA-Z-]+)$ media.php?module=identitasparam&act=view&id=$1 [QSA,L]

Options All -Indexes

</IfModule>
