<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteRule ^directory/ - [L,R=404]

RewriteRule ^login$ index.php

RewriteRule ^home$ media.php?module=home [QSA,L]
RewriteRule ^cek-login$ cek_login.php
RewriteRule ^keluar$ logout.php

## Awal Menu Terminologi 
RewriteRule ^unit$ media.php?module=unit [QSA,L]
RewriteRule ^tambah-jenkel$ content/jenkel/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-jenkel$ content/jenkel/aksi.php?act=input [QSA,L]
RewriteRule ^edit-jenkel$ content/jenkel/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-jenkel$ content/jenkel/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-jenkel-([0-9a-zA-Z-]+)$ content/jenkel/aksi.php?act=delete&id=$1 [QSA,L]

RewriteRule ^unitsektor$ media.php?module=unitsektor [QSA,L]
RewriteRule ^tambah-unitsektor$ content/unitsektor/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-unitsektor$ content/unitsektor/aksi.php?act=input [QSA,L]
RewriteRule ^edit-unitsektor$ content/unitsektor/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-unitsektor$ content/unitsektor/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-unitsektor-([0-9a-zA-Z-]+)$ content/unitsektor/aksi.php?act=delete&id=$1 [QSA,L]

RewriteRule ^unitlayanan$ media.php?module=unitlayanan [QSA,L]
RewriteRule ^tambah-unitlayanan$ content/unitlayanan/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-unitlayanan$ content/unitlayanan/aksi.php?act=input [QSA,L]
RewriteRule ^edit-unitlayanan$ content/unitlayanan/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-unitlayanan$ content/unitlayanan/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-unitlayanan-([0-9a-zA-Z-]+)$ content/unitlayanan/aksi.php?act=delete&id=$1 [QSA,L]


RewriteRule ^jabatan$ media.php?module=jabatan [QSA,L]
RewriteRule ^tambah-jabatan$ content/jabatan/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-jabatan$ content/jabatan/aksi.php?act=input [QSA,L]
RewriteRule ^edit-jabatan$ content/jabatan/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-jabatan$ content/jabatan/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-jabatan-([0-9a-zA-Z-]+)$ content/jabatan/aksi.php?act=delete&id=$1 [QSA,L]

RewriteRule ^pegawai-sektor$ media.php?module=pegawai-sektor [QSA,L]
RewriteRule ^tambah-pegawai-sektor$ content/pegawai-sektor/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-pegawai-sektor$ content/pegawai-sektor/aksi.php?act=input [QSA,L]
RewriteRule ^edit-pegawai-sektor$ content/pegawai-sektor/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-pegawai-sektor$ content/pegawai-sektor/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-pegawai-sektor-([0-9a-zA-Z-]+)$ content/pegawai-sektor/aksi.php?act=delete&id=$1 [QSA,L]

Options All -Indexes

</IfModule>
