<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteRule ^directory/ - [L,R=404]

RewriteRule ^login$ index.php

RewriteRule ^home$ media.php?module=home [QSA,L]
RewriteRule ^cek-login$ cek_login.php
RewriteRule ^keluar$ logout.php

RewriteRule ^profile$ media.php?module=profile [QSA,L]
RewriteRule ^aksi-edit-profile$ content/profile/aksi.php?act=update [QSA,L]




## Awal Menu Terminologi
RewriteRule ^unit$ media.php?module=unit [QSA,L]
RewriteRule ^aksi-edit-unit$ content/unit/aksi.php?act=update [QSA,L]

RewriteRule ^unitsektor$ media.php?module=unitsektor [QSA,L]
RewriteRule ^tambah-unitsektor$ content/unitsektor/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-unitsektor$ content/unitsektor/aksi.php?act=input [QSA,L]
RewriteRule ^edit-unitsektor$ content/unitsektor/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-unitsektor$ content/unitsektor/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-unitsektor-([0-9a-zA-Z-]+)$ content/unitsektor/aksi.php?act=delete&id=$1 [QSA,L]
RewriteRule ^view-unitsektor-([0-9a-zA-Z-]+)$ media.php?module=unitsektor&act=view&id=$1 [QSA,L]


RewriteRule ^jabatan$ media.php?module=jabatan [QSA,L]
RewriteRule ^tambah-jabatan$ content/jabatan/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-jabatan$ content/jabatan/aksi.php?act=input [QSA,L]
RewriteRule ^edit-jabatan$ content/jabatan/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-jabatan$ content/jabatan/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-jabatan-([0-9a-zA-Z-]+)$ content/jabatan/aksi.php?act=delete&id=$1 [QSA,L]


RewriteRule ^bidang$ media.php?module=bidang [QSA,L]
RewriteRule ^tambah-bidang$ content/bidang/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-bidang$ content/bidang/aksi.php?act=input [QSA,L]
RewriteRule ^edit-bidang$ content/bidang/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-bidang$ content/bidang/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-bidang-([0-9a-zA-Z-]+)$ content/bidang/aksi.php?act=delete&id=$1 [QSA,L]


RewriteRule ^struktur$ media.php?module=struktur [QSA,L]

RewriteRule ^pegawai$ media.php?module=pegawai [QSA,L]
RewriteRule ^tambah-pegawai$ content/pegawai/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-pegawai$ content/pegawai/aksi.php?act=input [QSA,L]
RewriteRule ^edit-pegawai$ content/pegawai/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-pegawai$ content/pegawai/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-pegawai-([0-9a-zA-Z-]+)$ content/pegawai/aksi.php?act=delete&id=$1 [QSA,L]


Options All -Indexes

</IfModule>
