<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteRule ^directory/ - [L,R=404]

RewriteRule ^login$ index.php

RewriteRule ^home$ media.php?module=home [QSA,L]
RewriteRule ^cek-login$ cek_login.php
RewriteRule ^keluar$ logout.php

RewriteRule ^profile$ media.php?module=profile [QSA,L]
RewriteRule ^aksi-edit-profile$ content/profile/aksi.php?act=update [QSA,L]




## Awal Menu Terminologi
RewriteRule ^unit$ media.php?module=unit [QSA,L]
RewriteRule ^aksi-edit-unit$ content/unit/aksi.php?act=update [QSA,L]

RewriteRule ^unitsektor$ media.php?module=unitsektor [QSA,L]
RewriteRule ^tambah-unitsektor$ content/unitsektor/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-unitsektor$ content/unitsektor/aksi.php?act=input [QSA,L]
RewriteRule ^edit-unitsektor$ content/unitsektor/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-unitsektor$ content/unitsektor/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-unitsektor-([0-9a-zA-Z-]+)$ content/unitsektor/aksi.php?act=delete&id=$1 [QSA,L]
RewriteRule ^view-unitsektor-([0-9a-zA-Z-]+)$ media.php?module=unitsektor&act=view&id=$1 [QSA,L]
RewriteRule ^edit-unitsektor-([0-9a-zA-Z-]+)-([0-9a-zA-Z-]+)$ media.php?module=unitsektor&act=view&id_unit=$1&id_pegawai=$2 [QSA,L]

RewriteRule ^tambah-admin-unitsektor-([0-9a-zA-Z-]+)$ content/unitsektor/aksi.php?act=tambahadmin&unit=$1 [QSA,L]
RewriteRule ^aksi-tambah-admin-unitsektor$ content/unitsektor/aksi.php?act=inputadminsektor [QSA,L]
RewriteRule ^edit-admin-unitsektor$ content/unitsektor/aksi.php?act=updateadmin [QSA,L]
RewriteRule ^aksi-edit-admin-unitsektor$ content/unitsektor/aksi.php?act=updateadminsektor [QSA,L]
RewriteRule ^aksi-hapus-admin-unitsektor-([0-9a-zA-Z-]+)$ content/unitsektor/aksi.php?act=deleteadminsektor&uid=$1 [QSA,L]

## unit layanan
RewriteRule ^unitlayanan$ media.php?module=unitlayanan [QSA,L]
RewriteRule ^tambah-unitlayanan$ content/unitlayanan/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-unitlayanan$ content/unitlayanan/aksi.php?act=input [QSA,L]
RewriteRule ^edit-unitlayanan$ content/unitlayanan/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-unitlayanan$ content/unitlayanan/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-unitlayanan-([0-9a-zA-Z-]+)$ content/unitlayanan/aksi.php?act=delete&id=$1 [QSA,L]

RewriteRule ^view-unitlayanan-([0-9a-zA-Z-]+)$ media.php?module=unitlayanan&act=view&id=$1 [QSA,L]
RewriteRule ^edit-unitlayanan-([0-9a-zA-Z-]+)-([0-9a-zA-Z-]+)$ media.php?module=unitlayanan&act=view&id_unit=$1&id_pegawai=$2 [QSA,L]

RewriteRule ^tambah-admin-unitlayanan-([0-9a-zA-Z-]+)$ content/unitlayanan/aksi.php?act=tambahadmin&unit=$1 [QSA,L]
RewriteRule ^aksi-tambah-admin-unitlayanan$ content/unitlayanan/aksi.php?act=inputadminsektor [QSA,L]
RewriteRule ^edit-admin-unitlayanan$ content/unitlayanan/aksi.php?act=updateadmin [QSA,L]
RewriteRule ^aksi-edit-admin-unitlayanan$ content/unitlayanan/aksi.php?act=updateadminsektor [QSA,L]
RewriteRule ^aksi-hapus-admin-unitlayanan-([0-9a-zA-Z-]+)$ content/unitlayanan/aksi.php?act=deleteadminsektor&uid=$1 [QSA,L]


RewriteRule ^jabatan$ media.php?module=jabatan [QSA,L]
RewriteRule ^tambah-jabatan$ content/jabatan/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-jabatan$ content/jabatan/aksi.php?act=input [QSA,L]
RewriteRule ^edit-jabatan$ content/jabatan/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-jabatan$ content/jabatan/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-jabatan-([0-9a-zA-Z-]+)$ content/jabatan/aksi.php?act=delete&id=$1 [QSA,L]


RewriteRule ^jabatansektor$ media.php?module=jabatansektor [QSA,L]
RewriteRule ^tambah-jabatansektor$ content/jabatansektor/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-jabatansektor$ content/jabatansektor/aksi.php?act=input [QSA,L]
RewriteRule ^edit-jabatansektor$ content/jabatansektor/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-jabatansektor$ content/jabatansektor/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-jabatansektor-([0-9a-zA-Z-]+)$ content/jabatansektor/aksi.php?act=delete&id=$1 [QSA,L]


RewriteRule ^jabatanlayanan$ media.php?module=jabatanlayanan [QSA,L]
RewriteRule ^tambah-jabatanlayanan$ content/jabatanlayanan/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-jabatanlayanan$ content/jabatanlayanan/aksi.php?act=input [QSA,L]
RewriteRule ^edit-jabatanlayanan$ content/jabatanlayanan/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-jabatanlayanan$ content/jabatanlayanan/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-jabatanlayanan-([0-9a-zA-Z-]+)$ content/jabatanlayanan/aksi.php?act=delete&id=$1 [QSA,L]


RewriteRule ^bidang$ media.php?module=bidang [QSA,L]
RewriteRule ^tambah-bidang$ content/bidang/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-bidang$ content/bidang/aksi.php?act=input [QSA,L]
RewriteRule ^edit-bidang$ content/bidang/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-bidang$ content/bidang/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-bidang-([0-9a-zA-Z-]+)$ content/bidang/aksi.php?act=delete&id=$1 [QSA,L]


RewriteRule ^bidangsektor$ media.php?module=bidangsektor [QSA,L]
RewriteRule ^tambah-bidangsektor$ content/bidangsektor/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-bidangsektor$ content/bidangsektor/aksi.php?act=input [QSA,L]
RewriteRule ^edit-bidangsektor$ content/bidangsektor/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-bidangsektor$ content/bidangsektor/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-bidangsektor-([0-9a-zA-Z-]+)$ content/bidangsektor/aksi.php?act=delete&id=$1 [QSA,L]


RewriteRule ^bidanglayanan$ media.php?module=bidanglayanan [QSA,L]
RewriteRule ^tambah-bidanglayanan$ content/bidanglayanan/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-bidanglayanan$ content/bidanglayanan/aksi.php?act=input [QSA,L]
RewriteRule ^edit-bidanglayanan$ content/bidanglayanan/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-bidanglayanan$ content/bidanglayanan/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-bidanglayanan-([0-9a-zA-Z-]+)$ content/bidanglayanan/aksi.php?act=delete&id=$1 [QSA,L]

RewriteRule ^struktur$ media.php?module=struktur [QSA,L]

RewriteRule ^pegawai$ media.php?module=pegawai [QSA,L]
RewriteRule ^tambah-pegawai$ content/pegawai/aksi.php?act=tambah [QSA,L]
RewriteRule ^aksi-tambah-pegawai$ content/pegawai/aksi.php?act=input [QSA,L]
RewriteRule ^edit-pegawai$ content/pegawai/aksi.php?act=edit [QSA,L]
RewriteRule ^aksi-edit-pegawai$ content/pegawai/aksi.php?act=update [QSA,L]
RewriteRule ^aksi-hapus-pegawai-([0-9a-zA-Z-]+)$ content/pegawai/aksi.php?act=delete&id=$1 [QSA,L]

##########################################################
## Identitas aset

## Parameter aset
RewriteRule ^tambah-parameter-([0-9a-zA-Z-]+)$ content/identitasparam/aksi.php?act=tambahparameter&id=$1 [QSA,L]
RewriteRule ^aksi-tambah-parameter$ content/identitasparam/aksi.php?act=inputparameter [QSA,L]
RewriteRule ^edit-parameter-([0-9a-zA-Z-]+)$ content/identitasparam/aksi.php?act=editparameter&idsub=$1 [QSA,L]
RewriteRule ^aksi-edit-parameter$ content/identitasparam/aksi.php?act=updateparameter [QSA,L]
RewriteRule ^aksi-hapus-parameter-([0-9a-zA-Z-]+)$ content/identitasparam/aksi.php?act=deleteparameter&id=$1& [QSA,L]

## varian aset
RewriteRule ^tambah-varian-([0-9a-zA-Z-]+)$ content/identitasparam/aksi.php?act=tambahvarian&id=$1 [QSA,L]
RewriteRule ^aksi-tambah-varian$ content/identitasparam/aksi.php?act=inputvarian [QSA,L]
RewriteRule ^edit-varian-([0-9a-zA-Z-]+)$ content/identitasparam/aksi.php?act=editvarian&idsub=$1 [QSA,L]
RewriteRule ^aksi-edit-varian$ content/identitasparam/aksi.php?act=updatevarian [QSA,L]
RewriteRule ^aksi-hapus-varian-([0-9a-zA-Z-]+)$ content/identitasparam/aksi.php?act=deletevarian&id=$1& [QSA,L]

## kapasitas aset
RewriteRule ^tambah-kapasitas-([0-9a-zA-Z-]+)$ content/identitasparam/aksi.php?act=tambahkapasitas&id=$1 [QSA,L]
RewriteRule ^aksi-tambah-kapasitas$ content/identitasparam/aksi.php?act=inputkapasitas [QSA,L]
RewriteRule ^edit-kapasitas-([0-9a-zA-Z-]+)$ content/identitasparam/aksi.php?act=editkapasitas&idsub=$1 [QSA,L]
RewriteRule ^aksi-edit-kapasitas$ content/identitasparam/aksi.php?act=updatekapasitas [QSA,L]
RewriteRule ^aksi-hapus-kapasitas-([0-9a-zA-Z-]+)$ content/identitasparam/aksi.php?act=deletekapasitas&id=$1& [QSA,L]

## View identitas param
RewriteRule ^view-identitasparam-([0-9a-zA-Z-]+)$ media.php?module=identitasparam&act=view&id=$1 [QSA,L]


Options All -Indexes

</IfModule>